<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Autour+One&display=swap" rel="stylesheet">

</head>
<body>
<div class="container"> 
    <div class="navbar">
        <div class="mainport">   <div class="protspelling">Portfo</div><div class="lio">lio</div></div>
        <nav>
            <li > <a   class="i"href="../index.html">Home </a></li>
            <li ><a  class="i" href="./intro.html"> Intro </a> </li>
            <li > <a   class="i"href="./service.html">Services </a> </li>
            <li ><a   class="i"href=" ./blog.html">Blog</a></li>
            <li > <a    class="i" href="./contact.html">Contact </a></li>
        
        </nav>
   </div >
   <div> 
   <h1 class="blogmainheading"> Blog by Praduin the developer </h1>
   <h3 class="headingsecond"> learn coding from udemy </h3>
   <p class="paragraphfirst" > udemy is the best platform to learn coding in easy way and after learning you have to practice it 
    <h3 class="headingthird"> learn front end form udemy  </h3>
    <p class="paragraphsecond"> for udemy you can learn the development and many other thing but for fully learn about form end you have to practice if daily </p>
   </p>
   </div>
   </div>
  
</body>
</html>
