<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Autour+One&display=swap" rel="stylesheet">

<script src="index.js"></script>
</head>
<body>
<div class="container"> 
    <div class="navbar">
        <div class="mainport">   <div class="protspelling">Portfo</div><div class="lio">lio</div></div>
        <nav>

            <li > <a  class="i" href="../index.html">Home </a></li>
            <li ><a   class="i" href="./intro.html"> Intro </a> </li>
            <li > <a   class="i"href="./service.html">Services </a> </li>
            <li ><a   class="i"href="./blog.html">Blog</a></li>
            <li > <a   class="i" href="./contact.html">Contact </a></li>
        </nav>
    </div>
    <div class="main">
   <div class="contactform">
    <h1> Contact me for work or general querry </h1>
    <form> 
        
            
        <div class="mb-3"> 
            <label for ="clienputname " class="form-lable" > Name </label> 
            <input type="text" class="form-control " id="clientname" aria-describedby="emailHelp">
            <div id="emailhelp" class="form-text"> </div>
             </div>
      
                  <div class="mb-3"> 
                   <label for ="clienputemail" class="form-lable" > Email address</label> 
                   <input type="email" class="form-control " id="clientemail" aria-describedby="emailHelp">
                   <div id="emailhelp" class="form-text">we will never share your email  and phone with anyone else  </div>
                    </div>
             
                    <div class="mb-3"> 
                        <label for ="clientphone" class="form-lable" > phone</label> 
                        <input type="phone" class="form-control " id="clientphone">
                    
                        
                        
                             </div>
                             <div class="mb-3form-check"> 
                                 
                                <input type="checkbox" class="form-check-input " id="isclient"> 
                                <label class="form-check-label" for="isclient"> i want you  to work on a project with me </label> 
                        <br>     <button type="submit" class="contactbuttons">submit </button>
                             </div> 

    </form>
   </div>
   </div>
</body>
</html>
