<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Autour+One&display=swap" rel="stylesheet">
</head>
<body>
<div class="container"> 
    <div class="navbar">
        <div class="mainport">   <div class="protspelling">Portfo</div><div class="lio">lio</div></div>
        <nav>
            <li > <a   class="i"href="../index.html">Home </a></li>
            <li ><a   class="i" href="./intro.html"> Intro </a> </li>
            <li > <a   class="i"href="./service.html">Services </a> </li>
            <li ><a  class="i" href="./blog.html">Blog</a></li>
            <li > <a   class="i" href="./contact.html">Contact </a></li>

        </nav> 
   </div>
   <div class="introall"> 
   <h1 class="introabout"> About </h1>
   <p class="introparagraph"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur aliquid dolores
     quos. Sapiente quos, cum, voluptatum eos repellat ab accusamus aspernatur vel magnam quisquam, 
     expedita doloribus veritatis modi praesentium vitae?</p>
     
    
    <div class="introskill"> 

        <h1> skill </h1>

    </div>
    <div class="introskills"> 
        
    <div class="skillone"> HTML: <div class="skillon"> </div> </div>
    <div class="skilltwo"> CSS: <div class="skillto"> </div> </div>
    <div class="skillthree"> Javascript: <div class="skillth"> </div> </div>
    <div class="skillfour"> C++ : <div class="skillfo"> </div> </div>
    <div class="skillfive"> backend: <div class="skillfi"> </div> </div>
    <div class="skillsix"> c++ intermediate : <div class="skillsi"> </div> </div>
    <div class="introproject">
        <h2> Projects :</h2> 
    </div>
    <div class="introprofirst"> </div>
    </div>
     
</div>
</body>
</html>
