<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../resources/css/index.css"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Autour+One&display=swap" rel="stylesheet">



</head>
<body>
<div class="container"> 
    <div class="navbar">
        <div class="mainport">   <div class="protspelling">Portfo</div><div class="lio">lio</div></div>
        <nav>

            <li ><a class="i" href="../index.html">Home </a></li>
            <li ><a  class="i" href="./intro.html"> Intro </a> </li>
            <li > <a  class="i" href="./service.html">Services </a> </li>
            <li ><a   class="i" href="./blog.html">Blog</a></li>
            <li> <a    class="i" href="./contact.html">Contact </a> </li>
        
        </nav>
    </div>
    <div class="service.box"> 
    <div class="serviceji">
       <h2 class="serviceheadingone"> Make Website </h2> 
    <p class="serviceparagraph"> make an website with the help of the front end <br> and simple backend this can be created by learning <br> intermediate webdevelopment 
    </p>
    </div>
   
   </div>
   <div class="servicecode">
    <h2 class="servicehedingone"> Can Code  </h2>
    <p class ="servicepra"> Lorem ipsum dolor, consectetur adipisicing  accusantium<br> quaerat rem est dignissimos qui aliquid mollitia! <br>In, voluptas reprehenderit vitae nesciunt sequi.
    </p>
 </div>
</div>


</body>
</html>
